Body {
    background-color:#204420;
    /* font*/
    font-family: 'Fuzzy Bubbles', cursive;
    color: #fff;

    /* background img*/
    max-width: 1200px;
    background:rgba(0, 0, 0, 0) url(../image/cat_greeen.png);
    background-size:cover ;
    background-blend-mode: darken;
    max-width:100%;
    height: auto;
    padding: 25px;
    background-size:100% auto;
}
div{
    padding: 1rem;/**/
}
.wrapper{
    font-size: larger;
}
/*img*/
img{
    max-width: 100%;
    height: auto;
    border: #222 solid 2px;
}
.fp{
    text-align: center;
    background-color: #c08c5c;
}
/*- aboutinfo -*/
.aboutinfo{
    background-color: #c08c5c;
}
/*nav*/
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    width: 100%;
    padding: 14px;
}
  /*nav home*/
.home {
    background-color:#c08c5c;
}

li a {
  text-align: center;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
 background-color: #111;
}
.button{
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #7c5b32;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
/*button animation*/
.button:hover {
    animation-name: botton;
    transform: scale(1.5);
}

.button{
	background:#7c5b32;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #7c5b32b6;
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

footer{
    background-color: #ffe6ac;
    padding-bottom:3rem;
    color:#222;
}


/*pc*/
@media screen and (min-width:760px) {
    .search-container a ul input[type=search]{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .order{
        display: grid;
        text-align: center;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "custom premade"
        ;
    }
    .custom{
        grid-area: custom;
    }
    .premade{
        grid-area: premade;
    }
}